<div>
    <h2 id="page-heading">
        <span>Algorithms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-algorithm" [routerLink]="['/algorithm/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Algorithm
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="algorithms?.length === 0">
        <span>No algorithms found</span>
    </div>
    <div class="table-responsive" *ngIf="algorithms?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="input"><span>Input</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="output"><span>Output</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idea"><span>Idea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="realLifeUse"><span>Real Life Use</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pseudocode"><span>Pseudocode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flowchart"><span>Flowchart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flowchartImage"><span>Flowchart Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="complexityAnalysis"><span>Complexity Analysis</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="correctnessProof"><span>Correctness Proof</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="averageStars"><span>Average Stars</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalFavs"><span>Total Favs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weightedRating"><span>Weighted Rating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateUpdated"><span>Date Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="worstCaseComplexity.id"><span>Worst Case Complexity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="averageCaseComplexity.id"><span>Average Case Complexity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bestCaseComplexity.id"><span>Best Case Complexity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let algorithm of algorithms ;trackBy: trackId">
                <td><a [routerLink]="['/algorithm', algorithm.id, 'view' ]">{{algorithm.id}}</a></td>
                <td>{{algorithm.name}}</td>
                <td>{{algorithm.input}}</td>
                <td>{{algorithm.output}}</td>
                <td>{{algorithm.idea}}</td>
                <td>{{algorithm.description}}</td>
                <td>{{algorithm.realLifeUse}}</td>
                <td>{{algorithm.pseudocode}}</td>
                <td>{{algorithm.flowchart}}</td>
                <td>
                    <a *ngIf="algorithm.flowchartImage" (click)="openFile(algorithm.flowchartImageContentType, algorithm.flowchartImage)">
                        <img [src]="'data:' + algorithm.flowchartImageContentType + ';base64,' + algorithm.flowchartImage" style="max-height: 30px;" alt="algorithm image"/>
                    </a>
                    <span *ngIf="algorithm.flowchartImage">{{algorithm.flowchartImageContentType}}, {{byteSize(algorithm.flowchartImage)}}</span>
                </td>
                <td>{{algorithm.complexityAnalysis}}</td>
                <td>{{algorithm.correctnessProof}}</td>
                <td>{{algorithm.averageStars}}</td>
                <td>{{algorithm.totalFavs}}</td>
                <td>{{algorithm.weightedRating}}</td>
                <td>{{algorithm.dateCreated | date:'medium'}}</td>
                <td>{{algorithm.dateUpdated | date:'medium'}}</td>
                <td>
                    <div *ngIf="algorithm.worstCaseComplexity">
                        <a [routerLink]="['../function-class', algorithm.worstCaseComplexity?.id, 'view' ]" >{{algorithm.worstCaseComplexity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="algorithm.averageCaseComplexity">
                        <a [routerLink]="['../function-class', algorithm.averageCaseComplexity?.id, 'view' ]" >{{algorithm.averageCaseComplexity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="algorithm.bestCaseComplexity">
                        <a [routerLink]="['../function-class', algorithm.bestCaseComplexity?.id, 'view' ]" >{{algorithm.bestCaseComplexity?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/algorithm', algorithm.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/algorithm', algorithm.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'algorithm', { outlets: { popup: algorithm.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="algorithms?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
