<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30">
                    <h5>ABOUT</h5>
                    <p>
                        <a routerLink="/">algorithmdb.com</a>
                        is a database of algorithms. This is not an exhaustive list of all algorithms created on earth. However, we're trying our best to make an in-depth coverage of as many interesting algorithms as possible.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                    <h5>LINKS</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                    <h5>SOCIAL</h5>
                    <p>Please follow us on the following social media profiles to keep updated.</p>
                    <a href="#"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                    <h5>CONTACT</h5>
                    <p>For your inquiries and comments please contact us at <a href="mailto:info@algorithmdb.com">info@algorithmdb.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">All rights reserved 2019 &copy;algorithmdb.com</p>
</div>
