<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="functionClass">
            <h2><span>Function Class</span> {{functionClass.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{functionClass.name}}</span>
                </dd>
                <dt><span>Formula</span></dt>
                <dd>
                    <span>{{functionClass.formula}}</span>
                </dd>
                <dt><span>Formula Markdown</span></dt>
                <dd>
                    <span>{{functionClass.formulaMarkdown}}</span>
                </dd>
                <dt><span>Relative Order</span></dt>
                <dd>
                    <span>{{functionClass.relativeOrder}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/function-class', functionClass.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
