<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-function-class-heading">Create or edit a Function Class</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_formula">Formula</label>
                    <textarea class="form-control" name="formula" id="field_formula"
                              formControlName="formula"></textarea>
                    <div *ngIf="editForm.get('formula').invalid && (editForm.get('formula').dirty || editForm.get('formula').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('formula').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_formulaMarkdown">Formula Markdown</label>
                    <textarea class="form-control" name="formulaMarkdown" id="field_formulaMarkdown"
                              formControlName="formulaMarkdown"></textarea>
                    <div *ngIf="editForm.get('formulaMarkdown').invalid && (editForm.get('formulaMarkdown').dirty || editForm.get('formulaMarkdown').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('formulaMarkdown').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_relativeOrder">Relative Order</label>
                    <input type="number" class="form-control" name="relativeOrder" id="field_relativeOrder"
                           formControlName="relativeOrder"/>
                    <div *ngIf="editForm.get('relativeOrder').invalid && (editForm.get('relativeOrder').dirty || editForm.get('relativeOrder').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('relativeOrder').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('relativeOrder')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
