<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="author">
            <h2><span>Author</span> {{author.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{author.name}}</span>
                </dd>
                <dt><span>Picture</span></dt>
                <dd>
                    <div *ngIf="author.picture">
                        <a (click)="openFile(author.pictureContentType, author.picture)">
                            <img [src]="'data:' + author.pictureContentType + ';base64,' + author.picture" style="max-width: 100%;" alt="author image"/>
                        </a>
                        {{author.pictureContentType}}, {{byteSize(author.picture)}}
                    </div>
                </dd>
                <dt><span>Info</span></dt>
                <dd>
                    <span>{{author.info}}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{author.dateCreated}}</span>
                </dd>
                <dt><span>Date Updated</span></dt>
                <dd>
                    <span>{{author.dateUpdated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/author', author.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
